<!-- 
Starts the `rosbag record` node and records a set of topics for the RexROV 2.
-->
<launch>
  <arg name="record" default="false" doc="Starts the recording node if set to true"/>
  <arg name="bag_filename" default="recording.bag" doc="Filename for the recording ROS bag"/>
  <arg name="use_ned_frame" default="false" doc="If set to true, stores the odometry with respect to NED frame"/>
  <arg name="uuv_name" default="rexrov2" doc="Namespace of the vehicle"/>

  <group if="$(arg record)">
    <node pkg="rosbag" type="record" name="recording"
      args="record -O $(arg bag_filename)
        /$(arg uuv_name)/dp_controller/trajectory
        /$(arg uuv_name)/dp_controller/reference
        /$(arg uuv_name)/pose_gt_ned
        /hydrodynamics/current_velocity
        /$(arg uuv_name)/thruster_manager/input_stamped
        /$(arg uuv_name)/wrench_perturbation
        /$(arg uuv_name)/thrusters/0/thrust
        /$(arg uuv_name)/thrusters/1/thrust
        /$(arg uuv_name)/thrusters/2/thrust
        /$(arg uuv_name)/thrusters/3/thrust
        /$(arg uuv_name)/thrusters/4/thrust
        /$(arg uuv_name)/thrusters/5/thrust
        /$(arg uuv_name)/thrusters/0/input
        /$(arg uuv_name)/thrusters/1/input
        /$(arg uuv_name)/thrusters/2/input
        /$(arg uuv_name)/thrusters/3/input
        /$(arg uuv_name)/thrusters/4/input
        /$(arg uuv_name)/thrusters/5/input"
      if="$(arg use_ned_frame)"/>

      <node pkg="rosbag" type="record" name="recording"
        args="record -O $(arg bag_filename)
          /$(arg uuv_name)/dp_controller/trajectory
          /$(arg uuv_name)/dp_controller/reference
          /$(arg uuv_name)/pose_gt
          /hydrodynamics/current_velocity
          /$(arg uuv_name)/thruster_manager/input_stamped
          /$(arg uuv_name)/wrench_perturbation
          /$(arg uuv_name)/thrusters/0/thrust
          /$(arg uuv_name)/thrusters/1/thrust
          /$(arg uuv_name)/thrusters/2/thrust
          /$(arg uuv_name)/thrusters/3/thrust
          /$(arg uuv_name)/thrusters/4/thrust
          /$(arg uuv_name)/thrusters/5/thrust
          /$(arg uuv_name)/thrusters/0/input
          /$(arg uuv_name)/thrusters/1/input
          /$(arg uuv_name)/thrusters/2/input
          /$(arg uuv_name)/thrusters/3/input
          /$(arg uuv_name)/thrusters/4/input
          /$(arg uuv_name)/thrusters/5/input"
        unless="$(arg use_ned_frame)"/>
  </group>
</launch>
