<!-- 
Starts the [6-DoF PID controller](https://github.com/uuvsimulator/uuv_simulator/blob/master/uuv_control/uuv_trajectory_control/scripts/rov_pid_controller.py) 
node with the configurations for the RexROV 2 vehicle.
The controller's default parameters `Kp`, `Kd` and `Ki`
were optimized using [SMAC](https://github.com/automl/SMAC3).

> **Example**

```
roslaunch uuv_gazebo_worlds ocean_waves.launch
```

```
roslaunch rexrov2_description upload_rexrov2.launch
```

```
roslaunch rexrov2_control start_pid_controller.launch
```
-->
<launch>
    <arg name="uuv_name" default="rexrov2" doc="Namespace of the vehicle to be controller"/>

    <!-- Flag to start recoding a rosbag  -->
    <arg name="record" default="false" doc="Record ROS bag"/>
    
    <arg name="gui_on" default="true" doc="Start Gazebo client and RViz"/>
    <arg name="use_ned_frame" default="false" doc="If true, the reference frame is set to be NED (North-East-Down) instead of Gazebo's default ENU (East-North-Up)"/>

    <arg name="Kp" default="11993.888,11993.888,11993.888,19460.069,19460.069,19460.069" doc="Coefficients for the $K_p$ diagonal matrix"/>
    <arg name="Kd" default="9077.459,9077.459,9077.459,18880.925,18880.925,18880.925" doc="Coefficients for the $K_d$ diagonal matrix"/>
    <arg name="Ki" default="321.417,321.417,321.417,2096.951,2096.951,2096.951" doc="Coefficients for the $K_i$ diagonal matrix"/>

    <arg name="teleop_on" default="false" doc="Start joystick teleop node"/>
    <arg name="joy_id" default="0" doc="ID of the joystick device"/>
    <arg name="axis_yaw" default="0" doc="Joystick mapping for yaw angle input"/>
    <arg name="axis_x" default="4" doc="Joystick mapping for X component of velocity reference input"/>
    <arg name="axis_y" default="3" doc="Joystick mapping for Y component of velocity reference input"/>
    <arg name="axis_z" default="1" doc="Joystick mapping for Z component of velocity reference input"/>

    <!-- Thruster manager configuration -->
    <arg name="thruster_manager_output_dir" default="$(find rexrov2_control)/config" doc="Output directory for the generated thruster manager"/>
    <arg name="thruster_manager_config_file" default="$(find rexrov2_control)/config/thruster_manager.yaml" doc="File storing the configuration of the thruster manager"/>
    <arg name="tam_file" default="$(find rexrov2_control)/config/TAM.yaml" doc="File storing the thruster allocation matrix"/>


    <include file="$(find uuv_trajectory_control)/launch/rov_pid_controller.launch">
      <arg name="uuv_name" value="$(arg uuv_name)"/>
      <arg name="gui_on" value="$(arg gui_on)"/>
      <arg name="saturation" value="2000"/>
      <arg name="Kp" value="$(arg Kp)"/>
      <arg name="Kd" value="$(arg Kd)"/>
      <arg name="Ki" value="$(arg Ki)"/>
      <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
      <arg name="thruster_manager_output_dir" value="$(arg thruster_manager_output_dir)"/>
      <arg name="thruster_manager_config_file" value="$(arg thruster_manager_config_file)"/>
      <arg name="tam_file" value="$(arg tam_file)"/>
    </include>

    <!-- Initialize the recording fo the simulation according to the record flag  -->
    <include file="$(find rexrov2_control)/launch/record_demo.launch">
      <arg name="record" value="$(arg record)"/>
      <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
      <arg name="uuv_name" value="$(arg uuv_name)"/>
    </include>

    <group if="$(arg teleop_on)">
      <!-- Start joystick teleop node  -->
      <include file="$(find uuv_teleop)/launch/uuv_teleop.launch">
          <arg name="uuv_name" value="$(arg uuv_name)"/>
          <arg name="joy_id" value="$(arg joy_id)"/>
          <arg name="output_topic" value="cmd_vel"/>
          <arg name="message_type" value="twist"/>
          <arg name="axis_yaw" value="$(arg axis_yaw)"/>
          <arg name="axis_x" value="$(arg axis_x)"/>
          <arg name="axis_y" value="$(arg axis_y)"/>
          <arg name="axis_z" value="$(arg axis_z)"/>
          <arg name="gain_yaw" default="0.2"/>
          <arg name="gain_x" default="0.5"/>
          <arg name="gain_y" default="0.5"/>
          <arg name="gain_z" default="0.5"/>
      </include>
    </group>

    <group if="$(arg gui_on)">
      <!-- Start RViz  -->
      <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find rexrov2_control)/rviz/rexrov2_control.rviz"/>
    </group>
</launch>
