<launch>
    <arg name="record" default="false" doc="Set this flag to true to call record.launch"/>
    <arg name="bag_filename" default="recording.bag" doc="Name of the output ROS bag file in case record is set to true"/>
    <arg name="use_ned_frame" default="false" doc="If true, uses the NED (North-East-Down) frame conversion. If false, ENU (East-North-Up) will be used per default."/>

    <!-- Vehicle's initial position -->
    <arg name="x" default="0" doc="X coordinate of the vehicle's initial position (in ENU)"/>
    <arg name="y" default="0" doc="Y coordinate of the vehicle's initial position (in ENU)"/>
    <arg name="z" default="-25" doc="Z coordinate of the vehicle's initial position (in ENU)"/>
    <arg name="yaw" default="0" doc="Yaw angle of the vehicle's initial orientation"/>

    <arg name="teleop_on" default="false" doc="If true, the teleop node will be started"/>
    <arg name="joy_id" default="0" doc="Joystick ID"/>

    <include file="$(find uuv_gazebo_worlds)/launch/ocean_waves.launch"/>

    <include file="$(find uuv_simulation_wrapper)/launch/unpause_simulation.launch">
        <arg name="timeout" value="5"/>
    </include>

    <include file="$(find rexrov2_description)/launch/upload_rexrov2.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="yaw" value="$(arg yaw)"/>
        <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    </include>

    <include file="$(find rexrov2_control)/launch/start_pd_grav_compensation_controller.launch">
        <arg name="teleop_on" value="$(arg teleop_on)"/>
        <arg name="joy_id" value="$(arg joy_id)"/>
        <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    </include>

    <include file="$(find rexrov2_gazebo)/launch/record.launch">
      <arg name="record" value="$(arg record)"/>
      <arg name="bag_filename" value="$(arg bag_filename)"/>
    </include>
</launch>
